.nav{
	margin: 0 auto;
	max-width: 1170px;
}
.nav-menu{
	font-size: 18px;
}

.nav-menu>ul{
	display: flex;
	justify-content: space-between;
}
.menu-links>li>a{
	text-decoration: none;
	color: black;
	position: relative;
	line-height: 55px;
}
.nav-menu>ul>li>a:after{
	display: block;
    position: absolute;
    content: "";
    height: 1px;
    background: #000000;	
    transition: width 0.3s ease-in-out;
    left: 0;
    bottom: -10px;
	width: 0px;
    transition: width 0.3s ease-in-out;
}
.active>ul>li>a:after, .nav-menu>ul>li>a:hover:after{
    display: block;
    position: absolute;
    content: "";
    height: 1px;
    width: 80%;
    background: #000000;	
    transition: width 0.3s ease-in-out;
    left: 0;
    bottom: -10px;
}
.menu-item-child{
	display: none;
    background: #fff;
	border-radius: 10px;
    width: 150px;
}
.menu-item-child li{
	padding: 6px;
	font-size: 16px;
}
.menu-item-child a{
	text-decoration: none;
	font-size: 16px;
	color: #474747;
}
.drop-down-menu:hover .menu-item-child{
	display: block;
    position: absolute;
	transition: .3s ease;
	opacity: 1;
}

/* nav conductor */
.nav-menu-conductor ul{
	display: flex;
	justify-content: flex-start;
}
.nav-menu-conductor li{
	margin-right: 14px;
	line-height: 45px;
}
.nav-menu-conductor a{
	font-size: 16px;
	letter-spacing: 0.095em;
	color: #009999;
	text-decoration: none;
}

